footer {
  background-color: #252b30;
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 48px 24px 32px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 56px 32px 40px;
  }
}

footer .footer a:any-link {
  color: #e6e9eb;
}

footer .footer a:hover {
  color: #fff;
}

footer .footer .legal {
  color: #b9bfc4;
}
